﻿@model IHI_SIMULATOR_INVERTER_SMA.Models.InverterSystem

<div class="jumbotron">
    <h1>IHI ES</h1>
    <p class="lead">IHI Simulator Inverter SMA Overview</p>
    <div class="row">
        <div class="col-md-2">
            <h3>Company</h3>
            @Model.company
        </div>
        <div class="col-md-2">
            <h3>Product</h3>
            @Model.product
        </div>
        <div class="col-md-2">
            <h3>Status</h3>
            @Model.status
        </div>
        <div class="col-md-2">
            <h3>Alarmed</h3>
            @Model.alarmed
        </div>
        <div class="col-md-4">
            <h3>Communication Status</h3>
            @Model.communication
        </div>
    </div>
</div>
