﻿@model IEnumerable<IHI_SIMULATOR_INVERTER_POWER_ELECTRONICS.Models.Alarm>

@{
    ViewBag.Title = "Alarm";
}

<h2>Alarm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.ActionLink("Trigger", "Edit", new { /* id=item.PrimaryKey */ }) 
        </td>
    </tr>
}

</table>
