﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dashboard", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("TMEIC Holding Registers", "ShowRegisters", "InverterRegister", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("TMEIC Input Registers", "ShowRegisters", "InverterInputRegister", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("REST API Information", "Index", "Help", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("TMEIC Alarms", "ShowAlarms", "Alarm", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - IHI Inverter Simulator</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/JavaScript">
        $(document).ready(function () {

            // This is going to be the main loop of the jquery to
            //determine if buttons are clicked etc.

            //alert("Hello Gazza!!");
        });
    </script>
</body>
</html>
