﻿
@model IEnumerable<IHI_SIMULATOR_INVERTER_TMEIC.Models.Alarm>

@{
    ViewBag.Title = "Inverter Warnings";
}

<h2>Inverter Alarms</h2>
<div class="form-group">
   
    <div class="col-md-10">
        @Html.ActionLink(" ", "Clear", "Warning", new { id = "0" }, new { @class = "btn btn-success glyphicon glyphicon-bell font-weight:bolder", @toggle = "tooltip", @title = "clear all alarms" })
    </div>
</div>
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
             
                @Html.ActionLink(" ", "Edit", "Warning", new { id = item.id }, new { @class = "btn btn-danger glyphicon glyphicon-bell font-weight:bolder", @toggle = "tooltip", @title = "trigger alarm" })
            </td>
        </tr>
    }
</table>
