﻿
@model IEnumerable<IHI_SIMULATOR_INVERTER_SMA.Models.InverterRegister>


@{
    ViewBag.Title = "IHI Inverter Register List";
}

<h2>Inverter Register List</h2>
<br />

@using (Html.BeginForm())
{
<div class="form-group">
    <div class="col-md-1" id="search">
        <asp:LinkButton ID="LinkButton1" runat="server" CssClass="btn btn-primary form-control" data-toggle="tooltip" title="Enter Register Label/Modbus Address" OnClick="LinkButton1_Click">
            <i class="glyphicon glyphicon-search"></i> SEARCH
        </asp:LinkButton>
    </div>
    <div class="col-md-3" id="search">
            @Html.Editor("RegisterId", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("Search", "", new { @class = "text-danger" })
     </div>

    <div class="col-md-3" id="search">
      
        <button runat="server">
            <span aria-hidden="true" data-toggle="tooltip" title="Refresh Register List" class="glyphicon glyphicon-refresh btn-lg bg-primary"></span>
        </button>
    </div>
    </div>

    <br />
    <br />
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.index)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.slaveid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.value)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.index)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.slaveid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.label)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "InverterRegister", new { id = item.index }, new { @class = "btn btn-info glyphicon glyphicon-edit font-weight:bolder " })
                </td>
            </tr>
        }

    </table>

    }
